<div ng-init="hasModels=false">
    <table ng-if="hasModels">
        <tr>
            <th ng-click="orderByMe('name')">姓名</th>
            <th ng-click="orderByMe('gender')">性别</th>
            <th ng-click="orderByMe('firm')">公司</th>
            <th>住址</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>生日</th>
            <th class="noborder"></th>
            <th class="noborder"></th>
        </tr>
        <tr ng-repeat="model in clients | orderBy:orderByKey">
            <td>{{ model.name }}</td>
            <td>{{ model.gender }}</td>
            <td>{{ model.firm }}</td>
            <td>{{ model.address }}</td>
            <td>{{ model.phone }}</td>
            <td>{{ model.mail }}</td>
            <td>{{ model.birthday }}</td>
            <td class="noborder">
                <button class="btn" ng-click="deleteClient(model)">
                    <span class="glyphicon glyphicon-remove"></span>删除
                </button>
            </td>
            <td class="noborder">
                <button class="btn" ng-click="editClient(model)">
                    <span class="glyphicon glyphicon-pencil"></span>修改
                </button>
            </td>
        </tr>
    </table>
    <h3 ng-if="!hasModels">No clients found.</h3>
</div>

<style>
    table th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
    table th.noborder, td.noborder {
        border: 0px;
    }
</style>