#nav {
    background: #232;
}
#main {
    width: 1000px;
    margin-left:auto;
    margin-right: auto;
}
#banner {
    height:150px;
    width:100%;
    background-image: url("../image/banner.png");
}
#log-reg {
    float: right;
    margin-right: 20px;;
    margin-top: 20px;;
}
#content {
    margin-top: 20px;
}